@import "tailwindcss";

@theme {
  --breakpoint-xs: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 976px;
  --breakpoint-xl: 1440px;

  --font-alata: "Alata", sans-serif;
  --font-josefin: "Josefin Sans", sans-serif;
  --font-poppins: "Poppins", sans-serif;

  --color-cyan: hsl(180 66% 49%);
  --color-cyan-light: hsl(180 66% 69%);
  --color-dark-violet: hsl(257 27% 26%);
  --color-red: hsl(0 87% 67%);
  --color-grayish-violet: hsl(257 7% 63%);
  --color-very-dark-blue: hsl(255 11% 22%);
  --color-very-dark-violet: hsl(260 8% 14%);

  --spacing-180: 32rem;
}

@layer base {
  h5 {
    @apply absolute px-6 duration-200 w-52 bottom-4 md:bottom-8 md:px-10 group-hover:scale-110 group-hover:text-black;
  }
}

@layer utilities {
  .tracking-widest {
    letter-spacing: .3em;
  }
}

@layer components {
  .btn {
    @apply px-10 py-2 my-0 font-bold uppercase border-2 border-black font-alata hover:bg-black hover:text-white;
  }

  .item-container {
    @apply flex flex-col justify-between w-full space-y-6 text-2xl text-white uppercase md:flex-row md:space-y-0 md:space-x-8;
  }

  .item {
    @apply relative overflow-hidden md:w-1/4;
  }

  .item-gradient {
    @apply absolute top-0 bottom-0 right-0 left-0 bg-linear-to-b from-transparent to-gray-900 group-hover:from-gray-50 group-hover:to-white group-hover:opacity-70;
  }
}
