@import "tailwindcss";

@theme {
  --breakpoint-xs: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 976px;
  --breakpoint-xl: 1440px;

  --font-alata: "Alata", sans-serif;
  --font-josefin: "Josefin Sans", sans-serif;
}

@layer utilities {
  .tracking-widest {
    letter-spacing: .3em;
  }
}

@layer components {
  .btn {
    @apply px-10 py-2 my-0 font-bold uppercase border-2 border-black font-alata hover:bg-black hover:text-white;
  }

  .item-container {
    @apply flex flex-col justify-between w-full space-y-6 text-2xl text-white uppercase md:flex-row md:space-y-0 md:space-x-8;
  }
}
